<form action="/user" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="">name</label>
  <input type="text" name="user_name">

  <label for="">Password</label>
  <input type="text" name="user_password">

  <button>sign up</button>

</form>
