<section class="index-wrap">
  <h1>Get information about your favourite movie!</h1>
  <div class="search-container">
    <form class="search-form" action="about" method="get">
      <input type="text" name="movie_title" class="search-input" placeholder="King Kong">
      <button class="search-btn">Search</button>
    </form>
  </div>
</section>
