h1{
	padding-right: 15px;
	color:red;
	display:inline-block;

}
h2{
	display:inline-block;
	color:gray;
}

.article::first-letter{
	 font-size: 4em;
  padding: 5px 10px;
  float: left;
  clear: right;
}
.dateHeading{
	color:gray;
}

#copyrightLabel{
	color:gray;
}

body{
	font-family: 'Lato', sans-serif;

}

#footer-nav{
	list-style:none;
	padding:0;
}
#footer-nav > li {
		border:1px solid grey;
		border-top:none;
		border-bottom:none;
		border-left:none;
		display:inline-block;
		padding-right:2px;
		color:red;
}

#container{

	width:970px;
	margin: 0 auto;
}
.side_heading{
	font-weight:bolder;
	color:gray;
}
#top_side{
	color:gray;
	font-weight:bold;
}
#header{
	width: 950px;
	
}
#main-content{
	width:650px;
	
	display:inline-block;
}

#main-content img {
	width:100%;
}

#side-bar{
	margin-left:10px;
	display:inline-block;
	width: 290px;
	 vertical-align:top;
	 
}

#nav-menu{
	list-style: none;
	width:100%;
	padding:0px;
}

#nav-menu li {
	color:white;
	background-color:black;
	display:inline;
	margin-right:1px;	
	margin-left:0px;
	padding:15px 45px 15px 45px;
	
	width:500px;
}

#ad-space {
	 width: 100%;
   height: 200px;
   background-color: silver;
   margin-bottom:20px;
}

a {
	color:red;
	text-decoration: none;
}

.contLink{
	position: relative;
	left: 540px;
	font-weight:bold;
}

#contLinkSide{
	position:relative;
	left: 180px;
	font-weight:bold;
}

#top_side p {
	font-weight:lighter;
}

#top-ten-list{
	color:gray;
}