body {
  background-color: white;
  text-align: justify;
  margin: 0 auto;
  padding: 10px;
}
.special-letter {
  font-size: 80px;
}
nav li {
  list-style: none;
  display: inlie-block;
  color: black;
  padding: 30px;
  margin: 0 atuo;
}
h1 {
  color: red;
  text-align: left;
  font-size: 34px;
}

p {
  font-size: 16px;
}
