<h1>Welcome to Rail of Games</h1>
<div class="container">
  <div class="row">
    <a class="button button-primary" href="/eightball">Eight Ball</a>
    <a class="button button-primary" href="/rock_paper_scissors">Rock Paper Scissors</a>
    <a class="button button-primary" href="secret_number">Secret Numbers</a>
  </div>
</div>
