<h1>Secret Number</h1>
<p> Secret Number Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view.<p>

<form action="/secret_number" method ="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label>Choose a number:</label>
  <select name="guess_no">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <button>Guess</button>
</form>

<h4><p>You chose the number <%= @guess_number %></p></h4>
<h4><p>The computer chose the number <%= @computer_gen %></p></h4>
<h4><p><%= @game %></p></h4>
