<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MOVIE DB</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  
</head>
<body>

  <!-- <form action="/movie">

    <input name="title" type="text" placeholder="Enter Movie Title">
    <button>Search</button>


  </form> -->
  <%= yield %>

</body>
