
.card {
  border-radius: 10px;
  padding: 10px 0;
  background-color: tomato;
}

.card .delete-btn,
.card .edit-btn {
  cursor: pointer;
}
.content {
  padding: 5px;
}


.wrapper {
  display: flex;
background-color: olive;
}
.card img {
  width: 100%;

}

.card .image{

  margin: 0 auto;
}
.card div {
  background-color: mistyrose;

}
.card header {

  text-align: center;

}

.card footer {
  background-color: tomato;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
}

.button-div {
  padding: 5px;
}

.edit-card-form {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: pink;

}
input {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
