<h1>PLAY A GAME</h1>

<form class="" action="/magicball" method="get">
  <button>Magic 8 Ball</button>
</form>

<form class="" action="/secretnumber" method="get">
  <button>Secret Number</button>
</form>

<form class="" action="/rockpaperscissors" method="get">
  <button>Rock Paper Scissors</button>
</form>
