<h1>Secret Number</h1>

<form class="" action="/secretnumber" method="post">
  <input type="hidden" name="authenticity_token" value= <%=form_authenticity_token%>>
  <% for i in 0..10 %>
    <button name="button" value=<%=i%>> <%=i%> </button>
  <% end %>
</form>

<%= @response %>
