.container {
  text-align: left;;
  padding: 18%;
}

.header h1 {
  color: #B50719;
  font-family: sans-serif;
  font-weight: lighter;

}

.header span {
  color:grey;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;

}

.nav ul {
  list-style-type: none;
  padding-left: 0;
}

.nav li {
  background-color: black;
  display:inline-block;
  color: white;
  padding: 20px 23px;
  text-decoration: none;
}

.main{
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin: auto;
}

.main p{
  border-bottom: ridge;
  border-color: #D3D3D3;
}

.main p2{
  text-align-last: right;
  text-indent: 70x;
  color: red;
}

.main img {
  width: 100%;
}

.firstcharacter{
  color: #D3D3D3;
  font-family:sans-serif;
  font-size: 400%;
  float: left;
  width: 0.75em;
  line-height: 80%;
  font-weight: lighter;
}

.continuecharacter{
  color: red;
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  /*width: 2em;*/
  display: block;
  text-align: right;
}


.main h2 {
  color: #D3D3D3;
  font-family: sans-serif;
  font-weight: lighter;
}

.articles span {
  font-size: 20px;
}
.aboutUs {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  width: 38%;
  color: grey;
}


footer li{
  padding-right: grey;
  color: red;
  display: inline-block;


}
