body {
  background: mistyrose;
}

h2 {
  padding-bottom: 1em;
  border-bottom: 2px solid black;
}

.stock-data {
  margin-top: 1em;
  width: 50%;
  padding: 1em;
  border: 1px solid gray;
}

.name, .price {
  font-size: 1.5em;
  font-weight: bold;
}

.name {
  color: blue;
}

.price {
  color: green;
}

.change {
  margin-left: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: purple;
}
