<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: <%= color %> ">
  <h1>Emergency Compliment</h1>

    <h2>Hey<%= message %></h2>
    <h2>"<%= compliment %>"</h3>

  <div class="">
    <h3>Want to add your own compliment</h3>
    <form class="" action="/new" method="post">
      <input type="text" id="newcompliment" name="newcompliment" autofocus>
      <input type="submit" name="" value="My Compliment!">
    </form>

  </div>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
