img{
  width: 15%;
  border-radius: 100%;
}

body{
  background-image: url(http://wallpapercave.com/wp/lrKU8Nu.jpg);
}

h1{
  padding-left: 300px;
  font-family: 'Barrio', cursive;
  font-size: 50px;
  margin-top: 0;
}
.central-blocks{
  margin-left: 300px;
}
.savings, .checking{
  border: 1px solid black;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding-left: 50px;
  padding-top: 40px;
  border: 150px 50px;
  border-radius: 10%;
}
input{
  margin: 2px;
}

button{
  margin-top: 5px;
  background-color: #c2f0f0;
  border-radius: 15%;
}
.savings{
 background-color: #00cca3;
}

.checking{
  background-color: #b3ff99;
}
