<h1>8 Ball</h1>
<p>Ask the magic 8 able question.</p>

<form class="" action="/games" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="text" name="question">
  <button>Submit</button>
</form>
