<h1>Secret Number</h1>
<p><%= @string %></p>
<p>Secret number is: <%= @secretnumber %></p>



<form action="/games/secretnumberpage" method="get">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button>back</button>
</form>

<form action="/" method="get">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button>Main Page</button>
</form>
