<% layout('layout') %>


<h2>Compliments</h2>

<p><%=name%>, <%=compliments%></p>

<body style="background-color: <%= color %>"></body>


    <form action="/:name" method="post">
      <div class="formgroup">
      <label class="form-control-label" name="compliments" for="">Compliment</label>
      <input class="form-control" type="text" name="compliments" value="">
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
