<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>with love</title>
  </head>
  <body style="background-color: <%= color %>;">

    <h1><%= name %> <%= compliment %></h1>
  </body>
</html>
