
<button onclick="location.href='/games/magic_8_ball/new'" type="button">Magic 8 Ball</button>

<button onclick="location.href='/games/secret_number/new'" type="button">Secret Number</button>

<button onclick="location.href='/games/rock_paper_scissors/new'" type="button">Rock, paper and Scissors</button>
