<h1>Secret Number</h1>

<form action="/games/secret_number" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Enter a number between 1 and 10 :</label>
  <input type="text" name="number_guessed">
  <button>Enter</button>
</form>
