<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Yahoo Finance</title>
</head>
<body>
  <h1>Yahoo Finance</h1>
  <!-- yield automatically gets from index.erb -->
  <%=yield %>
  <footer>
    @copy; 2017
  </footer>

</body>
</html>
