<p>Please select your game</p>
<a href="/games/magic8ball">Magic 8 Ball</a>
<a href="/games/secretnumber">Secret Number</a>
<p>Please select your gestures to play Rock-Paper-Scissors</p>
<a href="/games/rock_paper_scissors/rock">Rock</a>
<a href="/games/rock_paper_scissors/paper">Paper</a>
<a href="/games/rock_paper_scissors/scissor">Scissor</a>
