<p>Select your lucky number</p>
<ul>
  <% @numbers.each do |number| %>
    <% if number == @secret %>
      <li><a href="/games/secretnumber/win"><%= number %></a></li>
    <% else %>
      <li><a href="/games/secretnumber/lose"><%= number %></a></li>
    <% end %>
  <% end %>
</ul>
