<h1>hello world</h1>

<form action="/search" method="get">
<label for="">movie</label>
<input name="title" type="text">


<button>Submit</button>

</form>

<%if %>
  <%= @search_html_string = '<ul>'%>
  <% @result['Search'].each do |movie| %>

    <%= @search_html_string << "<li><a href='/display?id=#{movie['Title']</a></li>}'"%>
    <% @search_html_string << '</ul>'%>
<a href="/t?movie=<%"

<%end%>
