

<form action="/stock" >

  <label for="">Stock</label>
  <input name ="stock_code" type="text">
  <button>submit</button>

</form>

  <h2>Stock Name: </h2>
    <p> <%= @stock_name %></p>

  <h2>Stock Price: </h2>
    <p>$<%= @stock_price %></p>
