<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <h1>Stock Quotes</h1>

      <%= yield%>


    <footer>@copy 2017</footer>
  </body>
</html>
