.mistyrose{
  background-color: mistyrose;
}

.color2{
  background-color: #FFBF00;
}

.color3{
  background-color: #0080FF;
}

.color4{
  background-color: #01DF3A;
}

.color5{
  background-color: #FF0080;
}
