
<% if @computer_number == @user_guess %>
  <h2>How'd you know? You must have cheated!</h2>
<% else %>
  <h2>Wrong!!!! Total disaster!</h2>
<% end %>
<h4><a href="/games/secret_number">play again?</a></h4>
