body{
  font-family: Helvetica;
}
.wrapper{
  text-align: center;
  margin: 20% 0;
}

button {
  transition-duration: 0.2s;
  background-color: #fff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 13px
}

button:hover {
  background-color: mistyrose;

}
