*{
  font-family: Helvetica;
  color: #fff
}

.wrapper{
  text-align: center;
  margin: 20% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: solid .2em white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.4em;
  color: #fff;
  margin-bottom: 5%;
}

.input-button {
  color: #fff;
  background-color: transparent;
  border-style: none;
  border: solid .02em white;
}

.input-field {
  background-color: transparent;
  border: none;
}

::placeholder {
  color: #fff;
}
