<section class="index-wrap">
  <h1>Get information about your favourite movie!</h1>
  <div class="search-container">
    <form class="search-form" action="/list" method="get">
      <input type="text" name="movie" class="search-input" placeholder="King Kong" autofocus>
      <button class="search-btn">Search</button>
    </form>
  </div>
</section>
