<div id="app">

</div>



<script id="index-template" type="text/x-handlebars-template">
  <div class="wrapper">
  </div>

  <form class="new-card-form"action="">
    <label for="" >name</label>
    <input type="text" class="new-card-name">
    <label for="">image_url</label>
    <input type="text" class="new-card-image_url">
    <button class="new-card-action">create card</button>
  </form>

</script>

<script type='text/x-handlebars-template' id="card-template">
  <div class="card" data-id="{{ id }}">
    <header class="content">
      <div>{{ name }}</div>
    </header>
    <div class="image">
      <img src="{{image_url}}" alt="">
    </div>
    <footer>{{name}}</footer>
    <div>
      <span class="delete-action">delete</span>
        <br>
        <form action="">
          <input type='hidden' name='_method' value='put'>
          <span class="edit-action">edit</span>
        </form>
    </div>
  </div>

</script>


<script id="edit-template" type="text/x-handlebars-template">

  <form class="edit-card-form"action="">
    <label for="" >name</label>
    <input type="text" class="edit-card-name">
    <label for="">image_url</label>
    <input type="text" class="edit-card-image_url">
    <button class="edit-action">create card</button>
  </form>

</script>
