<% layout('layout')%>

<h1>Compliments</h1>
<form action="/" method="get">
  <div class="compliment" >
    <%= name %>,<%= compliment %>
  </div>
  <button>Meh</button>
</form>


<button>Thanks</button>
