<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="public/styles.css">
    <title>STOCK TICKER</title>
  </head>
  <body>

    <div class="container">
      <form class="" action="/stock">
        <input type="text" name="ticker" value="">
        <button>Get Quote</button>
      </form>          

    <%= yield %>



  </body>
</html>
