.card {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: mistyrose;
  font-family: 'Spirax', cursive, sans-serif;
  box-shadow: 6px 6px 3px #333;
}

.content {
  padding: 5px;
}

.wrapper {
  display: flex;
}

.card img {
  width: 100%;
}

.card .image {
  width: 200px;
  height: 300px;
  background-color: linen;
  margin: 10px 20px;
  border: 2px solid black;
  padding: 0;
}

.card header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

.card footer {
  text-align: center;
}

.card .delete-action, .card .edit-action {
  cursor: pointer;
  font-size: .7em;
}

footer > div {
  display: flex;
  justify-content: space-between;
}

.edit-card-form {
  display: none;
}

/*.barby {
  background-color: brown;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barby > div {
  height: 100px;
}

.chicken {
  background-color: pink;
  order: 2;
}

.pineapple {
  background-color: yellow;
}

.tomato {
  background-color: tomato;
}*/
