<h1>Secret number</h1>

<h2>Choose a number from 1 to 10</h2>

<form action="/games/secret_number/result">
  <% 10.times do |i| %>
  <% num = i + 1 %>
  <button name="number" value="<%= num %>"><%= num %></button>
  <% end %>
</form>
