<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Engine of Movies</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <h1>Search engine for Movies</h1>

  <form action="/search_result">

    <input type="text" name="title" placeholder="     enter movie name">
    <button> Search </button>

  </form>


  <%= yield %>

</body>
