/*font-family: 'Julius Sans One', sans-serif;*/
* {
    border-sizing: border-box;
}


.main {
  margin: 0 auto;
  width: 90%;
  /*width: 1100px;*/

}

h1 {
  color: red;
  font-family: 'Julius Sans One', sans-serif;
  display: inline-block;
  margin: 10px;

}

h3 {
  font-family: 'Julius Sans One', sans-serif;
  color: gray;
  display: inline-block;
  margin: 10px;
}

nav ul {
  padding: 0;
  margin: 5px 0;
}

nav ul li {
  display: inline-block;
  background-color: black;
  width: 16%;
  height: 46px;

  font-family: 'Julius Sans One', sans-serif;
  color: white;
}

.title {
  font-family: 'Julius Sans One', sans-serif;
  margin: 10px 0 7px 0;
}
.date {
  font-family: 'Julius Sans One', sans-serif;

  color: gray;
  margin: 66px 0 5px 0;
}

.top img {

}
.leftSide {
  width: 70%;
  display: inline-block;
}

.aside {
  width: 20%;
  display: inline-block;
}
