<h1>[rifty+hair]</h1>

<a href="/products/new">Add Hair Photo</a>

<% @products.each do |product| %>

<div>

  <h2>
    <a href="/products/<%= product.id %>">
      <%= product.name %>
    </a>
  </h2>

  <img src="<%= product.image_url %>">
</div>


<% end %>
