<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> [rifty-brand] </title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <%= yield %>

</body>


<!-- 1. create product:

product: has a name, price a d is stocked - true if available and false if not available

2. views folder has:
index - show only products that are in stock (where stock is true)
show - shows page for each products
edit - edit page to modify product

3. can create, edit and delete products
4. create postgresql to store products
5. use ActiveRecord to talk to the database -->
