<h1>Magic 8 Ball</h1>

<form action="/games/magic_eight/answer" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>What question do you have for the mystic 8-ball</label>
  <input type="text" name="question">
  <button>Find your answer</button>
</form>
