<h2>Scissors Paper Rock Game</h2>
<form action="/games/rock_paper_scissors/play"method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Choice</label>
  <input type="text" name="throw">
</form>
