<form action="/secretnumber" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Guess your number</label>
  <% for i in 0..10 %>
    <button name="choice" type="submit" value="<%= i %>"><%= i %></button>
  <% end %>
</form>
