<div class="wrapper">

</div>
<form class="new-card-form" action="">
  <label class="new-" for="">Name</label>
  <input type="text" class="new-card-name" name="name" id="">
  <label for="">Url</label>
  <input type="text" class="new-card-image" name="image_url">
  <button class="new-card-action">Create Card</button>
</form>

<!-- <div class="barby">
  <div class="chicken">chicken</div>
  <div class="pineapple">pineapple</div>
  <div class="tomato">tomato</div>
</div> -->

<script id="card-template" type="text/x-handlebars-template">
  <div class="card" data-id="{{ id }}">
    <header class="content">
      <div>{{ name }}</div>
    </header>
    <div class="image">
      <img src="{{ image_url }}" alt="">
    </div>
    <footer class="content">
      <div>
        <span class="delete-action">delete</span>
        <span class="edit-action">edit</span>
      </div>
    </footer>
</script>

<script id="edit_form" type="text/x-handlebars-template">
  <form class="edit-card-form" action="">
    <label class="new-" for="">New Name</label>
    <input type="text" class="edit-card-name" name="name" id="">
    <label for="">Updated Image Url</label>
    <input type="text" class="edit-card-image" name="image_url">
    <button type="submit">Update Card</button>
    <span class="return-home">Return to Cards List</span>
  </form>
</script>
