<!doctype html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Search For Film</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>

  <h1>Film Database Search</h1>
  <%= yield %>

</body>

</html>
