<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>finance app</title>
  <link rel="stylesheet" href="public/styles.css"></link>
</head>
<body>
  <%= Time.now %>
 <br>
  <label for="STOCK">STOCK DESIRED</label>
  <input type="text" name="stock_wanted">


</body>
</html>
