* {
  background: #ffffff;
  margin: 0 auto;
  width: 100%;
  font-family: 'Anton', sans-serif;
}

.container {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 5% 10%;
}

header {
  text-align: center;
  width: 40%;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.savings-box, .checking-box {
  text-align: center;
  padding: 2em;
  width: 30%;
  min-height: 20%;
  background-color: #ffffff;
  display: inline-block;
}

.savings-box {
  background-color: #ffffff;
}

.checking-box {
  background-color: #ffffff;
}

.withdraw-btn {

}

.deposit-btn {

}
