/* MUST SLEEP... more to come */

body {
  width: 86.66666667%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
#wrapper {
  display: block;
  margin: 0 auto;
  width: 63.333333%;
  padding-right: 33%;
}

#nav-bar {
	background-color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
  /*display: inline;*/
}
#header {
  list-style-type: none;
  display: inline;
  width: 85.561497%;
  height: 18pt;
  padding-bottom: 1px;
}
#header_1 {
  font-family:'Raleway', sans-serif;
  font-size: 42pt;
  color: #f94444;
}
#header_2 {
  font-family:'Raleway', sans-serif;
  font-size: 20pt;
  color: #a9a3a3;
}
#right {
  width:30%;
}
.nav_box {
	background-color: #000000;
	color: white;
	text-decoration: none;
	display: inline;
	padding: 20px;
  border: 1px solid #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  width: 10px;
}
.nav_box:hover {
  background-color: #f94444;
}
/*#nav-bar:after {
	visibility: hidden;
	display: block;
  justify-content: center;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}*/
#date {
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  color: #a9a3a3;
}
#titleOne {
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
}
#cap-start {
  float: left;
  font-size: 52pt;
  color: #a9a3a3;
  padding: 2px 4px 6px 2px;
  }
#img-1 {
  width: 100%;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  float:left;
}

.class {
  min-height: 100px;
  float: left;
  width: 96.6666666%;
  margin-right: 3.3333333%;
}
