<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <h1>Movie Review</h1>
    <div class="list_item">
      <form class="" action="/list">
        <label>Put in the movie you want to search</label>
        <input type="text" name="movie">
        <button>Submit</button>
      </form>
    </div>
    <%= yield %>
  </body>
</html>
