<h3>Secret Number</h3>

<h4>guess a number in the form</h4>

<form class="" action="/secret_number/show" method="post">
    <div class="secret-numbers">

        <div><a href="1">Choose: 1</a></div>
        <div><a href="1">Choose: 2</a</div>
        <div><a href="1">Choose: 3</a</div>
        <div><a href="1">Choose: 4</a</div>
        <div><a href="1">Choose: 5</a</div>
        <div><a href="1">Choose: 6</a</div>
        <div><a href="1">Choose: 7</a</div>
        <div><a href="1">Choose: 8</a</div>
        <div><a href="1">Choose: 9</a</div>
        <div><a href="1">Choose: 10</a</div>

    </div>
</form>
