<h1> Seceret Number Game </h1>

<% (1..10).each do |num| %>

  <form action="/show_condition">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="guess" value="<%num%>">
    <button><%=num%></button>
  </form>

  <% end %>
