<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock App</title>
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>
