<style>
  body{
    background-image: url('/css/img/backgroundHomepage.jpg');
  }
</style>

<body>

  <form action="/result">
    <input type="text" name="t">
    <button type="button" name="button">Search Movie</button>
  </form>

</body>
