<div class="infoMovie">
  <!-- <form action="/movie" method="post"> -->

    <p>Choose the title!</p>
    <% @movies.each do |movie| %>
    <% @title = movie['Title'] %>
      <a href= " <%= @title %> " > <%= @title %> </a>
    <br>
    <% end %>

  <!-- </form> -->
</div>
