<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MOVIE SEARCH MEGA ENGINE</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <form action="/movie">

    <input type="text" name="title" value="">
    <button class="search">search</button>

  </form>


  <%= yield %>

</body>
