<form class="" action="/planets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Planet Name</label>
  <input type="text" name="name">

  <label>Planet Image</label>
  <input type="text" name="image_url">

  <button>create</button>
</form>
