<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Rock-Paper_Scissors</h1>
  <form "/games/rockPaperScissors" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <button name="choice" value="rock">Rock</button>
    <button name="choice" value="paper">Paper</button>
    <button name="choice" value="scissor">Scissor</button>
  </form>

  <h3 name="answer"><%= @output %></h3>
</body>
</html>
