<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<h1>Secret Number</h1>
<p>guess the number I'm thinking of between 1 and 10 by selecting the buttons below</p>

<form action="/games/secretNumber" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <% for i in 1..10%>
    <button name="choice" value="<%= i %>"><%= i %></button>
  <% end %>
</form>

<h3 name="answer"><%= @output %></h3>
</body>
</html>
