* {
  box-sizing: border-box;
}

body {

  background-color: #d6d6d6;

}

.background {
  background-image: url("images/background.jpg");
  width: 100%;
  height: 168px;
  margin-bottom: 100px;

}
.background > img {

  display: block;
  margin-left: auto;
  margin-right: auto;
}


li {
  list-style-type:none;
  font-family: arial;
}

nav {

background-color: white;
width: 20%;
float: right;

margin-right: 280px;
padding: 0;

};

.wrapper {

  margin: 0 auto;
  width: 80%;
  padding: 10px;

}

.socialmedia {
float: right;
margin-right: 600px;

}
article{
  width: 50%;
  background-color: white;
  margin-left: 100px;

}

article > img {

  display: block;
    margin-left: auto;
    margin-right: auto;
}

p {

  font-family: arial;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
}

h1 {
  text-align: left;
  font-family: arial;
  padding-top: 10px;
  padding-left: 38px;

}

h3 {
  text-align: left;
  font-family: arial;
  padding-top: 10px;
  padding-left: 38px;


}
.ads {

  display: block;
    margin-left: 20px;
    margin-right: 10px;
}

.blog {

  color: red;
}
