html, body, main {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

header {
  padding: .25em 2em;
  font-size: .75em;
}

main {
  display: block;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  border: 3px solid white;
  margin: 1em;
  padding: 1em 2em;
}

input {
  font-size: 1.2em;
  padding: .5em;
}

button {
  font-size: 1.2em;
  background: transparent;
  color: white;
  border: 3px solid white;
  margin: 1em;
  padding: .4em;
}

button:hover {
  background: plum;
}

button:active {
  background: purple;
}

.content {
  font-size: 4em;
  margin: 20% 5% 0 5%;
}
