<form action="/" >

  <label for="">Name</label>
  <input name ="order_name" type="text">
  <label for="">Order</label>
  <input name ="order_item" type="text">
  <button>submit</button>

</form>

  <h1>  <%= @menu %> </h1>
