.card{
  padding: 10px 0;
  background-color: mistyrose;
  border: 5px solid pink;
  border-radius: 10px;
  width: 24%;
  margin: 10px;
}

.content{
  padding: 5px;
}

.wrapper{
  display: flex;
  background-color: linen;

}

img{
  width: 100%;
  border-top: 4px solid pink;
  border-bottom: 4px solid pink;
}

.card header{
  text-align: center;
  font-size: 20px;
  font-family: 'Macondo', cursive;
}

.card footer{
 background-color: mistyrose;
 text-align: center;
}

.card .delete-action{
  cursor: pointer;
}

.card .edit-action{
  cursor: pointer;
}

.new-card-form{

}
