<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Movies</title>
  </head>
  <body>

    <%=yield%>
  </body>
</html>
