<form action="/rock_paper_scissors_play" method="post">
  <img src="app/views/games/difficult-rock-identification.jpg"/>
  <button type="button" name="rock">ROCK</button>
  <img src="app/views/games/paper_title.png"/>
  <button type="button" name="paper">PAPER</button>
  <img src="app/views/games/856218_1.jpg"/>
  <button type="button" name="scissiors">SCISSORS</button>
</form>
