<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Movie Phase 3 Database</title>
</head>
<body>
  <h1>MOVIE Phase 3 Database</h1>
  <p>Search Movie</p>

  <%=yield %>

  <footer>
    @copy; 2017
  </footer>

</body>
</html>
