
<h3>Add New Product</h3>

<form action="/products/:name/" method="post">

  <label>name</label>
  <input name="name" type="text">

  <label for="">image url</label>
  <input name="image_url" type="text">

  <label for="">price</label>
  <input type="text" name="price">

  <label>availability</label>
  <input type="text" name="availability">

  <button>Create</button>
</form>
