<!DOCTYPE html>
<html>
  <head>
    <title>Planets</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.com/libraries/bulma">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav>
      <a class="button is-primary" href="/">Home</a>
      <a class="button is-black" href="/planets/new">Add a planet</a>

    </nav>
    <%= yield %>
  </body>
</html>
